.FauxFinishSection {
  height: 100vh;
  width: 100vw;
  background-image: url("../FauxFinish/img/border-ferns-Sage-green.png");
  background-repeat: no-repeat;
  background-size: cover ;
  background-color: antiquewhite;
}

.fauxHeader {
  font-family: cursiveFont;
  font-size: 10rem;
  font-weight: 500;
  color: #9fb87d;
  border-bottom: #9fb87d;
}

.fauxTextContainer {
  background-color: #9fb87d;
  height: 100%;
}

@font-face {
  font-family: cursiveFont;
  src: url("../../assets/font/heartbroke-font/Heartbroke-WylGE.ttf")
}

